


$body-bg: #a2bcc4;
$form-bg: #13232f;
$white: #ffffff;
$red: #cc0033;
$light-red: #da3961;

$main: #1ab188;
$main-light: lighten($main,5%);
$main-dark: darken($main,5%);

$gray-light: #a0b3b0;
$gray: #ddd;

$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;

body {
    background: $body-bg;
    font-family: 'Titillium Web', sans-serif;
}

.login_div {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    font-family: system-ui;
    color: darkslateblue;
    text-align: center;
}
.form {
    background: rgba($form-bg,.9);
    padding: 50px;
    max-width: 500px;
    margin: 40px auto;
    border-radius: $br;
    box-shadow: 0 4px 10px 4px rgba($form-bg,.3);
}
.big-form {
    background: rgba($form-bg,.9);
    padding: 50px;
    max-width: 1000px;
    margin: 40px auto;
    border-radius: $br;
    box-shadow: 0 4px 10px 4px rgba($form-bg,.3);
}
.profile_form {
    background: rgba($form-bg,.9);
    padding: 50px;
    max-width: 100%;
    margin: 40px auto;
    border-radius: $br;
    box-shadow: 0 4px 10px 4px rgba($form-bg,.3);
}
.button {
    display: inline-block;
    border: 0;
    outline: none;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    padding:15px 0;
    font-size: 2rem;
    font-weight: $bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: $main;
    color: $white;
    z-index: 1;
    transition: all .3s;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        border-radius: 20px;
        width: 100%;
        height: 100%;
        background-color: $main;
        z-index: -2;
      }
      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;    
        border-radius: 20px;
        width: 0%;
        height: 100%;
        background-color: darken($main, 15%);
        transition: all .3s;
        z-index: -1;
      }
      &:hover {
        color: #fff;
        &:before {
          width: 100%;
        }

    }
}

.button-block {
    display: block;
    width: 100%;
}

input, textarea {
    font-size: 20px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 2px solid $gray-light;
    color: $white;
    border-radius: 10px;
    transition: border-color .25s ease, box-shadow .25s ease;

    &:focus {
        outline: 0;
        border-color: $main;
    }
}



.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;

    &:after {
        content: "";
        display: table;
        clear: both;
    }

    li a {
        display: block;
        text-decoration: none;
        padding: 15px;
        background: rgba($gray-light,.25);
        color: $gray-light;
        font-size: 20px;
        float: left;
        width: 50%;
        text-align: center;
        cursor: pointer;
        transition: .5s ease;

        &:hover {
            background: $main-dark;
            color: $white;
        }
    }

    .active a {
        background: $main;
        color: $white;
    }
}
h2 {
    top:40%;
    text-align: center;
    color: $white;
    font-weight: $thin;
    margin: 0 0 30px;
}
h3 {
    
    color: $white;
    font-weight: $thin;
    margin: 20px 0 30px;
}

label {
    position: absolute;
    transform: translateY(6px);
    left: 10px;
    color: rgba($white,.5);
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    pointer-events: none;
    font-size: 18px;

    .req {
        margin: 4px;
        color: $main;
    }
}
label.active {
    transform: translateY(50px);
    left: 2px;
    font-size: 14px;

    .req {
        opacity: 0;
    }
}

label.highlight {
    color: $white;
}

.field-wrap {
    position: relative;
    margin-bottom: 40px;
}

.whiteTextCenter {
    text-align:center;
    color:$white;
    font-weight:$thin;
    margin:0 0 20px;
  }
.errorMessage {
    text-align: left;
    color: $red;
    font-weight: $thin;
    font-size: 12px;
    display: inline-block;
    line-height: 15px;
    margin: 10px 10px 0;
}
.errorMessage-main {
    text-align: center;
    color: $red;
    width: 100%;
    font-weight: $thin;
    font-size: 18px;
    display: inline-block;
    line-height: 15px;
    margin: 20px 20px 20px;
}
.profile_name{
    text-align: left;
    color:$white;
    font-weight: $thin;
    margin: 0 0 20px;
    position: relative;
}
.profile_center{
    text-align: center;
    border: 0;
    left:50%;
    margin: 0 0 0 -130px;
    outline: none;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    padding:20px;
    font-size: 15px;
    font-weight: $bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: $main;
    color: $white;
    z-index: 1;
    transition: all .3s;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border-radius: 20px;
        height: 100%;
        background-color: $main;
        z-index: -2;
      }
      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        border-radius: 20px;
        width: 0%;
        height: 100%;
        background-color: darken($main, 15%);
        transition: all .3s;
        z-index: -1;
      }
      &:hover {
        color: #fff;
        &:before {
          width: 100%;
        }
    }
}

.profile_username{
    position: relative;
    text-align: left;
    color:$white;
    font-weight: $thin;
    margin: 0 0 20px;
}
.container{
    
    display: grid;
    width: 100%;
}
.left-half {
    
    position: relative;
    grid-column: 1;

  }
  
.right-half {

    position: relative;
    grid-column: 2;

}
  .logout-button {
    display: inline-block;
    border: 0;
    margin: 10px 0 0 -100px;
    left:50%;
    outline: none;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    padding:15px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: $main-light;
    color: $white;
  }
.scroll{
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
.add-link{
    text-align: center;
    border: 0px;
    left:45%;
    width: 30%;
    margin: 0 20px 20px -100px;
    position: relative;
    border-radius: 50px;
    padding:20px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: $main;
    color: $white;
   
}
.link{
    text-align: center;
    border: 0px;
    margin: 0 20px 20px 0;
    position: relative;
    border-radius: 50px;
    padding:20px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: $main;
    color: $white;
   
}
.method{
    flex: 0 0 15%;
    margin: 10px;
    color: $white;
    font-size: 15px;
    position: relative;
}
.url{
    text-align: left;
    flex: 0 0 60%;
    color: $white;
    margin: 10px;
    font-size: 15px;
    position: relative;
}
.delete-link{
    flex: 0 0 5%;
    margin: 10px;
    color: $white;
    font-size: 17px;
    
}
.edit-link{
    flex: 0 0 5%;
    margin: 10px;
    color: $white;
    font-size: 15px;
}
.wrapper{
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: wrap;
    list-style: none;
    justify-content: flex-start;
    list-style: none;
    text-align: center;
    padding: 10px;
    overflow: hidden;
    border-radius: 50px;
    margin: 10px;
    background: rgba(255, 255, 255, 0.3);
}
.api-list-div:hover {
    background: rgba(255, 255, 255, 0.116);
    
}
.api-wrapper{
    word-wrap: break-word;
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: flex-start;
    list-style: none;
    text-align: center;
    align-items: center;

}
.api-list-title{
    top: 10%;
    text-align: center;
    margin: 10px;
    position: relative;
    color: $white;
    font-size: 30px;
    justify-content: center;
}
.api-list-div{
    position: relative;
    width:230px;
    height: 150px;
    justify-content: center;
    border-radius: 10px;
    margin: 10px;
    background: rgba(255, 255, 255, 0.3);
}
.api-list-description{
    top: 10%;
   position: relative;
    text-align: center;
    padding: 5px;
    color: $white;
    font-size: 14px;
    justify-content: center;
}
.select-css {
    
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
}
.select-css::-ms-expand {
    display: none;
  }
  /* Hover style */
.select-css:hover {
    border-color: #888;
}
/* Focus style */
.select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}
.select-div-css{
    margin: 0 0 30px 0;
}
.comment_div{
    float: right;
    position: relative;
}
.cancel_button{
    margin: -10px 10px 0 0;
    padding: 10px;
    display: inline-block;
    border: 0;
    outline: none;
    position: relative;
    overflow: hidden;
    font-weight: $bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: transparent;
    color: $white;
}
.comment_button{
    margin: -10px 10px 0 10px;
    padding:10px;
    display: inline-block;
    border: 0;
    outline: none;
    position: relative;
    overflow: hidden;
    font-weight: $bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: $main-light;
    color: $white;
}
.comment_list_div{
    width: 100%;
    position: relative;
    margin-bottom: 20px;

}
.comment_name{


    margin: 10px;
    position: relative;
    color: $white;
    font-weight: $bold;
    font-size: 14px;
}
.comment_voteNum{
    width: 50px;
    border:2px solid  #1ab188;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    display: inline-block;
    margin: 10px;
    position: relative;
    color: $white;
    font-size: 20px;
}
.comment_message{
    
    margin: 10px;
    
    position: relative;
    color: $white;
    font-size: 17px;
}
.margin_80_left{
    margin-left: 75px;
}
.comment_date{
    margin: 10px;
    position: relative;
    color: $gray-light;
    font-size: 13px;
}
.comment_vote{
    margin: 10px;
    position: relative;
    color: $gray-light;
    font-weight: $bold;
    font-size: 14px;
}
.comment_vote:hover {
    color: $white;
    
}
.comment_voted{
    margin: 10px;
    position: relative;
    color: $white;
    font-weight: $bold;
    font-size: 14px;
}

.react-paginate ul{
    display:inline;
    
    overflow: hidden;
  }
  .center-list{
    display: table;   /* Allow the centering to work */
	margin: 0 auto;
    margin-bottom: 50px;
  }
.react-paginate li {
    
    margin:5px;
    border-radius: 10px;
    border: 3px solid $main;
    float: left;
    padding: 10px;
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    font-weight: $bold;
    text-decoration: none;
    
}
