


$body-bg: #a2bcc4;
$form-bg: #13232f;
$white: #ffffff;
$red: #cc0033;

$main: #1ab188;
$main-light: lighten($main,5%);
$main-dark: darken($main,5%);

$gray-light: #a0b3b0;
$gray: #ddd;

$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;

body {
    background: $body-bg;
    font-family: 'Titillium Web', sans-serif;
}

.login_div {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    font-family: system-ui;
    color: darkslateblue;
    text-align: center;
}
.form {
    background: rgba($form-bg,.9);
    padding: 50px;
    max-width: 500px;
    margin: 40px auto;
    border-radius: $br;
    box-shadow: 0 4px 10px 4px rgba($form-bg,.3);
}
.big-form {
    background: rgba($form-bg,.9);
    padding: 50px;
    max-width: 1000px;
    margin: 40px auto;
    border-radius: $br;
    box-shadow: 0 4px 10px 4px rgba($form-bg,.3);
}
.profile_form {
    background: rgba($form-bg,.9);
    padding: 50px;
    max-width: 100%;
    margin: 40px auto;
    border-radius: $br;
    box-shadow: 0 4px 10px 4px rgba($form-bg,.3);
}
.button {
    display: inline-block;
    border: 0;
    outline: none;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    padding:15px 0;
    font-size: 2rem;
    font-weight: $bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: $main;
    color: $white;
    z-index: 1;
    transition: all .3s;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        border-radius: 20px;
        width: 100%;
        height: 100%;
        background-color: $main;
        z-index: -2;
      }
      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;    
        border-radius: 20px;
        width: 0%;
        height: 100%;
        background-color: darken($main, 15%);
        transition: all .3s;
        z-index: -1;
      }
      &:hover {
        color: #fff;
        &:before {
          width: 100%;
        }

    }
}

.button-block {
    display: block;
    width: 100%;
}

input, textarea {
    font-size: 20px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 2px solid $gray-light;
    color: $white;
    border-radius: 10px;
    transition: border-color .25s ease, box-shadow .25s ease;

    &:focus {
        outline: 0;
        border-color: $main;
    }
}



.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;

    &:after {
        content: "";
        display: table;
        clear: both;
    }

    li a {
        display: block;
        text-decoration: none;
        padding: 15px;
        background: rgba($gray-light,.25);
        color: $gray-light;
        font-size: 20px;
        float: left;
        width: 50%;
        text-align: center;
        cursor: pointer;
        transition: .5s ease;

        &:hover {
            background: $main-dark;
            color: $white;
        }
    }

    .active a {
        background: $main;
        color: $white;
    }
}
h2 {
    text-align: center;
    color: $white;
    font-weight: $thin;
    margin: 0 0 30px;
}
h3 {
    
    color: $white;
    font-weight: $thin;
    margin: 20px 0 30px;
}

label {
    position: absolute;
    transform: translateY(6px);
    left: 10px;
    color: rgba($white,.5);
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    pointer-events: none;
    font-size: 18px;

    .req {
        margin: 4px;
        color: $main;
    }
}
label.active {
    transform: translateY(50px);
    left: 2px;
    font-size: 14px;

    .req {
        opacity: 0;
    }
}

label.highlight {
    color: $white;
}

.field-wrap {
    position: relative;
    margin-bottom: 40px;
}

.whiteTextCenter {
    text-align:center;
    color:$white;
    font-weight:$thin;
    margin:0 0 20px;
  }
.errorMessage {
    text-align: left;
    color: $red;
    font-weight: $thin;
    font-size: 12px;
    display: inline-block;
    line-height: 15px;
    margin: 10px 10px 0;
}
.profile_name{
    text-align: left;
    color:$white;
    font-weight: $thin;
    margin: 0 0 20px;
    position: relative;
}
.profile_center{
    text-align: center;
    border: 0;
    left:50%;
    margin: -100px 0 0 -150px;
    outline: none;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    padding:20px;
    font-size: 15px;
    font-weight: $bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: $main;
    color: $white;
    z-index: 1;
    transition: all .3s;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border-radius: 20px;
        height: 100%;
        background-color: $main;
        z-index: -2;
      }
      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        border-radius: 20px;

        width: 0%;
        height: 100%;
        background-color: darken($main, 15%);
        transition: all .3s;
        z-index: -1;
      }
      &:hover {
        color: #fff;
        &:before {
          width: 100%;
        }

    }
   
}
.profile_username{
    position: relative;
    text-align: left;
    color:$white;
    font-weight: $thin;
    margin: 0 0 20px;
}
.container{
    
    display: grid;
    width: 100%;
}
.left-half {
    
    position: relative;
    grid-column: 1;

  }
  
  .right-half {
    
    position: relative;
    grid-column: 2;

  }
  .logout-button {
    display: inline-block;
    border: 0;
    margin: 10px 0 0 -100px;
    left:50%;
    outline: none;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    padding:15px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: $main-light;
    color: $white;
  }
  .scroll{
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  .add-link{
    text-align: center;
    border: 0px;
    left:50%;
    margin: 0 20px 20px 0;
    position: relative;
    border-radius: 50px;
    padding:20px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: $main;
    color: $white;
   
}
.link{
    text-align: center;
    border: 0px;
    margin: 0 20px 20px 0;
    position: relative;
    border-radius: 50px;
    padding:20px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: $main;
    color: $white;
   
}
.method{
    flex: 0 0 15%;
    margin: 10px;
    color: $white;
    font-size: 15px;
    position: relative;
}
.url{
    flex: 0 0 65%;
    color: $white;
    margin: 10px;
    font-size: 15px;
    position: relative;
}
.delete-link{
    flex: 0 0 5%;
    margin: 10px;
    color: $white;
    font-size: 15px;
}
.edit-link{
    flex: 0 0 5%;
    margin: 10px;
    color: $white;
    font-size: 15px;
}
.wrapper{
    position: relative;
    width: 900px;
    display: flex;
    flex-flow: wrap;
    list-style: none;
    justify-content: flex-start;
    list-style: none;
    text-align: center;
    padding: 10px;
    
    border-radius: 50px;
    margin: 10px;
    background: rgba(255, 255, 255, 0.3);

}
  